@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

:root {
  /*  color */
  --clr-stc: 172, 67%, 45%;
  --clr-dc: 183, 100%, 15%;
  --clr-c: 186, 14%, 43%;
  --clr-gc: 184, 14%, 56%;
  --clr-l-gc: 185, 41%, 84%;
  --clr-vl-gc: 189, 41%, 97%;
  --clr-w: 0, 0%, 100%;
  --clr-shadow: 0, 0%, 59%;
  --clr-dark-btn: 183, 78%, 24%;
  --clr-btn-hover: 173, 61%, 77%;
  --clr-warning: 13, 70%, 61%;

  --ff: "Space Mono", monospace;

  --fw-700: 700;

  --fs-xl: clamp(2rem, 5vw, 3rem);
  --fs-lg: 1.5rem;
  --fs-rg: 1rem;
  --fs-sm: 0.813rem;
}

html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::after,
  *::before {
    animation-duration: 0.1ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.1ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  min-height: 100vh;
  background-color: hsla(var(--clr-l-gc));
  background-repeat: no-repeat;

  font-size: var(--fs-rg);
  font-family: var(--ff);
  font-weight: var(--fw-700);
  color: hsl(var(--clr-c));
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
textarea {
  all: unset;
  cursor: pointer;
}

.container {
  --max-width: 57.5rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

@media (max-width: 55em) {
  .container {
    --padding: 0vw;
  }
}

.grid {
  display: grid;
  gap: var(--gap, 2rem);
}

.flex {
  display: flex;
  gap: var(--flex, 2rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 2rem);
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.invisible {
  display: none;
}

.bg-str-cyan {
  background-color: hsl(var(--clr-stc));
}

.bg-dark-cyan {
  background-color: hsl(var(--clr-dc));
}

.bg-gray-cyan {
  background-color: hsl(var(--clr-gc));
}

.bg-cyan {
  background-color: hsl(var(--clr-c));
}

.bg-light-cyan {
  background-color: hsl(var(--clr-l-gc));
}

.bg-extralight-cyan {
  background-color: hsl(var(--clr-vl-gc));
}

.bg-white {
  background-color: hsl(var(--clr-w));
}

.bg-dark-cyan {
  background-color: hsl(var(--clr-dc));
}

.fc-warning {
  color: hsl(var(--clr-warning));
}

.fc-str-cyan {
  color: hsl(var(--clr-stc));
}

.fc-gray-cyan {
  color: hsl(var(--clr-gc));
}

.fc-cyan {
  color: hsl(var(--clr-c));
}

.fc-light-cyan {
  color: hsl(var(--clr-l-gc));
}

.fc-extralight-cyan {
  color: hsl(var(--clr-vl-gc));
}

.fc-white {
  color: hsl(var(--clr-w));
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-rg {
  font-size: var(--fs-rg);
}

.fs-sm {
  font-size: var(--fs-sm);
}

.btn,
.input {
  height: 2em;
  border-radius: 0.375rem;
  padding-inline: 0.75em;
  width: calc(100% - 1.5em);
  font-size: var(--fs-lg);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.btn {
  background-color: hsl(var(--clr-dc));
  color: hsl(var(--clr-w));
  text-align: center;
}

.btn:hover {
  background-color: hsl(var(--clr-btn-hover));
  color: hsl(var(--clr-dc));
}

.btn:focus,
.btn:active,
.btn--active {
  background-color: hsl(var(--clr-stc));
  color: hsl(var(--clr-dc));
}

.input {
  text-align: right;
  border: 0.15rem solid transparent;
  caret-color: hsl(var(--clr-stc));
}

.input:focus {
  border: 0.15rem solid hsl(var(--clr-stc));
}

.warning {
  border: 0.15rem solid hsl(var(--clr-warning));
}

.input::placeholder {
  color: hsla(var(--clr-gc));
}

.input--custom.input::placeholder {
  text-align: center;
}

/* components */
.header {
  place-content: center;
  padding: clamp(2.5rem, 1rem + 10%, 10rem) 0 clamp(2.5rem, 7.5%, 5.5rem) 0;
}

.main {
  padding: 2rem;
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0 1rem 1rem 0.2rem hsla(var(--clr-stc), 0.2);
}

.icon-inside {
  position: relative;
  z-index: 0;
}

.icon-inside > img {
  position: absolute;
  bottom: 1em;
  left: 0.75em;
  z-index: 1;
}

.input_field {
  justify-content: center;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 1rem;
}

.tipbtns {
  --gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.input-warning {
  position: absolute;
  inset: 0 0 auto auto;
}

.display-field {
  border-radius: 1rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 1.25rem 1.25rem 1.25rem;
}

.display-container {
  align-items: center;
  justify-content: space-between;
}

.display-price::before {
  content: "$";
}

.btn--reset {
  background-color: hsl(var(--clr-dark-btn));
  color: hsl(var(--clr-dc));
}

@media (min-width: 55em) {
  .flow {
    --flow-space: 2.5rem;
  }

  .main {
    --gap: 3rem;
    border-radius: 2rem;
    grid-template-columns: 1fr 1fr;
    min-height: 30rem;
  }

  .input_field {
    --flex: 2.5rem;
  }

  .tipbtns {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .display-field {
    padding: 2.5rem;
  }
}
